.header {
  height: 100vh;
  width: auto;
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover;
}

h1{
  display: flex;
  flex-direction: column;
  margin-block: 15%;
  font-weight: 500; 
}


.header__hero {
 text-align: center;
 @media (min-width: 900px) {
  width: 50%;
  padding-left:20%;
  text-align: left;
}
}

.header__btn{
  text-decoration: none;
  color:white;
  background-color: #0c474b;
  display:inline-block;
  padding-block:10px;
  padding-inline:20px;
  margin-block: 20px;
}
/* corregir esta ñapa*/
.nav{
  margin-top: -33px;
  padding-left:33px;
  height: 30%;
  display:flex;
  position:sticky; top:20px; left:20px;
}

.nav__menu-burger {
  width: 24px;
  height: 24px;
  color: #0c474b;
}

.nav__logo{
  position:relative; top:50px; left: 30vw;
  width: 213px;
  height: 96px;
  margin-bottom: 62px;
  
  
}

