<footer class="footer">

  <div class="footer__box">
    <h3>Tienda</h3>
    <ul>
      <li>Productos</li>
      <li>Cajoneras</li>
      <li>Para toda la casa</li>
      <li>Habitaciones</li>
    </ul>
  </div>

  <div class="footer__box">
    <h3>Nosotros</h3>
    <ul>
      <li>Nuestra guía</li>
      <li>Nuestro diseño</li>
      <li>Nuestra historia</li>
      <li>Ayuda</li>
    </ul>
  </div>

  <div class="footer__box">
    <h3>Contacto</h3>
    <ul>
      <li>ayuda@openspaces.com</li>
      <li>Socios</li>
    </ul> 

    <div class="footer__icons">
      <img src="./images/insta.png" alt="logo-instagram" class="footer__insta">
      <img src="./images/linkedin.png" alt="logo-linkedin" class="footer__linkedin">
      <img src="./images/twitter.png" alt="logo-twitter" class="footer__twitter">
    </div>
    
  </div>

  

</footer>
