<footer class="footer">

  <div>
    <h3>Tienda</h3>
    <ul>
      <li>Productos</li>
      <li>Cajoneras</li>
      <li>Para toda la casa</li>
      <li>Habitaciones</li>
    </ul>
  </div>

  <div>
    <h3>Tienda</h3>
    <ul>
      <li>Productos</li>
      <li>Cajoneras</li>
      <li>Para toda la casa</li>
      <li>Habitaciones</li>
    </ul>
  </div>

  <div>
    <h3>Contactp</h3>
    <ul>
      <li>ayuda@openspaces.com</li>
      <li>Socios</li>
    </ul>
  </div>

  <div>
    
  </div>

</footer>
