<footer class="footer">

  <div class="footer__box">
    <h3>Tienda</h3>
    <ul class="footer__ul">
      <li><a href="https://adalab.es/" target="_blank">Productos</li></a>
      <li><a href="https://adalab.es/" target="_blank">Cajoneras</li></a>
      <li><a href="https://adalab.es/" target="_blank">Para toda la casa</li></a>
      <li><a href="https://adalab.es/" target="_blank">Habitaciones</li></a>
    </ul>
  </div>

  <div class="footer__box">
    <h3>Nosotros</h3>
    <ul class="footer__ul">
      <li><a href="https://adalab.es/" target="_blank">Nuestra guía</li></a>
      <li><a href="https://adalab.es/" target="_blank">Nuestro diseño</li></a>
      <li><a href="https://adalab.es/" target="_blank">Nuestra historia</li></a>
      <li><a href="https://adalab.es/" target="_blank">Ayuda</li></a>
    </ul>
  </div>

  <div class="footer__box">
    <h3>Contacto</h3>
    <ul class="footer__ul">
      <li><a href="https://adalab.es/" target="_blank">ayuda@openspaces.com</li></a>
      <li><a href="https://adalab.es/" target="_blank">Socios</li></a>
    </ul>

    <div class="footer__icons">
      <a href="https://adalab.es/" target="_blank"> <img src="./images/insta.png" alt="logo-instagram" class="footer__insta"></a>
      <a href="https://adalab.es/" target="_blank"><img src="./images/linkedin.png" alt="logo-linkedin" class="footer__linkedin"></a>
        <a href="https://adalab.es/" target="_blank"><img src="./images/twitter.png" alt="logo-twitter" class="footer__twitter"></a>
    </div>
    <div class="footer__flecha"> 
      <img src="./images/arrow-short-up.png" alt="flecha" class="flecha"></div> 
    </div>

  

</footer>
